{% extends "base.html" %}

{% block head_title %}About | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1 align='center'>Brief about...</h1>
<p>Hello, my dear guests! Please, enjoy my self-created web-blog.</p>
<p>Work is still in progress...</p><br>
<p>In the next releases I will add registration through 'django register redux', accounts for user with basic info and photo, maybe new applications for comments and likes - for some reasons someone prefer to save the stuff in database. Beside this I want to add login through Facebook.</p><br>
<p>&reg; Oleg Diatlenko</p>
</div>
{% endblock content %}
