{% extends "base.html" %}

{% block head_title %}
Delete {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Confirm delete</h1>
    <form method="POST" action=""> {% csrf_token %}
        <p>Are you sure you want to delete: '{{ instance.title }}'?</p>
        <input type='submit' value='Delete' class='btn btn-danger'>
        <a href='{{ instance.get_absolute_url }}' class='btn btn-default'>Cansel</a>
    </form>
    <hr/>
</div>

{% endblock content %}
